*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat',sans-serif;
  color: #515076;
  font-size: 13px;
}
.container{
  margin: 0 auto;
  width: 1110px;
}
.title{
  font-weight: 400;
  font-size: 70px;
  text-align: center;
  margin-bottom: 110px;
  line-height: 78px
}
.products{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.product-card__title{
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 27px;
}
.product-card__skin-type{
  padding-top: 30px;
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  text-transform: uppercase;
}
.product-card__description{
  padding-bottom: 15px;
  line-height: 18px;
}
.product-card__ingredients{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  line-height: 18px;
}
.product-card__ingredients-title{
  padding-bottom: 5px;
  line-height: 18px;
}
.product-card__price-title{
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
}
.product-card__price{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.product-card{
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  padding: 25px;
}
.product-card__ingredient{
  margin-bottom: 5px;
}
.price-text{
  display: flex;
  justify-content: space-between;
}
